:host {
  background-color: #e5e5e5;
  border: 4px solid #ffffff;
  display: flex;
  flex-wrap: wrap;
  height: 88px;
  max-width: 248px;
  width: 248px;
}

.theme-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .item {
    align-items: center;
    border: 4px solid #ffffff;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    flex: 1 1 auto;
    height: 80px;
    justify-content: center;
    max-height: 80px;
    max-width: 80px;
    min-height: 80px;
    min-width: 80px;
    width: 80px;

    &.hover:not(:hover) {
      opacity: .5;
    }

    &:focus {
      opacity: 1 !important;
    }

    span {
      font-size: 16pt;
    }

    &.indigo-pink-theme {
      background: -webkit-linear-gradient(-45deg, #3f51b5 0%, #3f51b5 50%, #e91e63 51%, #e91e63 100%);
      background-color: #3f51b5;
    }

    &.deeppurple-amber-theme {
      background: -webkit-linear-gradient(-45deg, #673ab7 0%, #673ab7 50%, #ffc107 51%, #ffc107 100%);
      background-color: #673ab7;
    }

    &.purple-green-theme {
      background: -webkit-linear-gradient(-45deg, #9c27b0 0%, #9c27b0 50%, #4caf50 51%, #4caf50 100%);
      background-color: #9c27b0;
    }
  }
}
