<mat-toolbar color="primary" mtxPopoverTarget #mainToolbar="mtxPopoverTarget">
  <span>Angular Multiple Dates Demo</span>
  <div class="fill"></div>
  <button mat-icon-button [mtxPopoverTriggerFor]="themePopover" [mtxPopoverTargetAt]="mainToolbar"
          mtxPopoverTriggerOn="click">
    <mat-icon>format_color_fill</mat-icon>
  </button>
  <a mat-icon-button href="https://github.com/lekhmanrus/ngx-multiple-dates">
    <mat-icon svgIcon="github"></mat-icon>
  </a>
</mat-toolbar>
<mtx-popover #themePopover="mtxPopover" [position]="[ 'below', 'before' ]" [xOffset]="-19" [yOffset]="-21" [arrowOffsetX]="69">
  <app-theme-picker [(theme)]="themeClass"></app-theme-picker>
</mtx-popover>
<div class="container">
  <form>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Simple</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="full-width">
          <mat-label>Simple</mat-label>
          <ngx-multiple-dates [matDatepicker]="pickerSimple" placeholder="Simple"
                              #forValuesOutput="ngxMultipleDates" (remove)="dateRemoved($event)">
          </ngx-multiple-dates>
          <mat-datepicker #pickerSimple></mat-datepicker>
        </mat-form-field>
        <pre>{{ forValuesOutput.value | json }}</pre>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>ngModel</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="full-width">
          <mat-label>Model</mat-label>
          <ngx-multiple-dates [matDatepicker]="pickerModel" placeholder="Model" name="model"
                              [(ngModel)]="model">
          </ngx-multiple-dates>
          <mat-datepicker #pickerModel></mat-datepicker>
        </mat-form-field>
        <pre>{{ model | json }}</pre>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Datepicker Toggle Button</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="full-width">
          <mat-label>Model</mat-label>
          <ngx-multiple-dates [matDatepicker]="pickerWithToggleButton" placeholder="Model"
                              name="modelWithToggleButton" [(ngModel)]="modelWithToggleButton">
          </ngx-multiple-dates>
          <mat-datepicker-toggle matPrefix [for]="pickerWithToggleButton"></mat-datepicker-toggle>
          <mat-datepicker #pickerWithToggleButton></mat-datepicker>
        </mat-form-field>
        <pre>{{ modelWithToggleButton | json }}</pre>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Predefined model</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="full-width">
          <mat-label>Predefined</mat-label>
          <ngx-multiple-dates [matDatepicker]="pickerPredefined" placeholder="Predefined"
                              name="modelPredefined"
                              [(ngModel)]="modelPredefined">
          </ngx-multiple-dates>
          <mat-datepicker-toggle matPrefix [for]="pickerPredefined"></mat-datepicker-toggle>
          <mat-datepicker #pickerPredefined></mat-datepicker>
        </mat-form-field>
        <pre>{{ modelPredefined | json }}</pre>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Min/Max Values</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="full-width">
          <mat-label>Min/Max</mat-label>
          <ngx-multiple-dates [matDatepicker]="pickerMinMax" placeholder="Min/Max"
                              name="modelMinMax" [min]="min" [max]="max"
                              [(ngModel)]="modelMinMax">
          </ngx-multiple-dates>
          <mat-datepicker-toggle matPrefix [for]="pickerMinMax"></mat-datepicker-toggle>
          <mat-datepicker #pickerMinMax></mat-datepicker>
        </mat-form-field>
        <div><strong>Min:</strong> {{ min | date }}</div>
        <div><strong>Max:</strong> {{ max | date }}</div>
        <pre>{{ modelMinMax | json }}</pre>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Minlength/Maxlength</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="full-width">
          <mat-label>Minlength/Maxlength</mat-label>
          <ngx-multiple-dates [matDatepicker]="pickerMinlengthMaxlength" placeholder="Minlength/Maxlength"
                              name="modelMinlengthMaxlength" [minlength]="2" [maxlength]="3"
                              [(ngModel)]="modelMinlengthMaxlength">
          </ngx-multiple-dates>
          <mat-datepicker-toggle matPrefix [for]="pickerMinlengthMaxlength"></mat-datepicker-toggle>
          <mat-datepicker #pickerMinlengthMaxlength></mat-datepicker>
        </mat-form-field>
        <div><strong>Minlength:</strong> 2</div>
        <div><strong>Maxlength:</strong> 3</div>
        <pre>{{ modelMinlengthMaxlength | json }}</pre>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Required</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="full-width">
          <mat-label>Required</mat-label>
          <ngx-multiple-dates [matDatepicker]="pickerRequired" placeholder="Required"
                              name="modelRequired" [(ngModel)]="modelRequired" required>
          </ngx-multiple-dates>
          <mat-datepicker-toggle matPrefix [for]="pickerRequired"></mat-datepicker-toggle>
          <mat-datepicker #pickerRequired></mat-datepicker>
        </mat-form-field>
        <pre>{{ modelRequired | json }}</pre>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Disabled</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="full-width">
          <mat-label>Disabled</mat-label>
          <ngx-multiple-dates [matDatepicker]="pickerDisabled" placeholder="Disabled"
                              #disabledForValuesOutput="ngxMultipleDates" disabled>
          </ngx-multiple-dates>
          <mat-datepicker-toggle matPrefix [for]="pickerDisabled"></mat-datepicker-toggle>
          <mat-datepicker #pickerDisabled></mat-datepicker>
        </mat-form-field>
        <pre>{{ disabledForValuesOutput.value | json }}</pre>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Color</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="full-width">
          <mat-label>Color</mat-label>
          <ngx-multiple-dates [matDatepicker]="pickerColor" placeholder="Color" color="accent"
                              name="modelColor" [(ngModel)]="modelColor">
          </ngx-multiple-dates>
          <mat-datepicker-toggle matPrefix [for]="pickerColor"></mat-datepicker-toggle>
          <mat-datepicker #pickerColor></mat-datepicker>
        </mat-form-field>
        <pre>{{ modelColor | json }}</pre>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Classes</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="full-width">
          <mat-label>Classes</mat-label>
          <ngx-multiple-dates [matDatepicker]="pickerClasses" placeholder="Classes"
                              [classes]="classes" name="modelClasses" [(ngModel)]="modelClasses">
          </ngx-multiple-dates>
          <mat-datepicker-toggle matPrefix [for]="pickerClasses"></mat-datepicker-toggle>
          <mat-datepicker #pickerClasses></mat-datepicker>
        </mat-form-field>
        <div><strong>Classes:</strong></div>
        <pre>{{ classes | json }}</pre>
        <div><strong>SCSS:</strong></div>
        <pre>
::ng-deep &#123;
  /* Datepicker classes. */
  .mat-calendar-body-cell &#123;
    &amp;.my-red &#123;
      .mat-calendar-body-cell-content,
      &amp;:hover .mat-calendar-body-cell-content &#123;
        border: 1px solid #f44336 !important;
      &#125;
    &#125;

    &amp;.my-green &#123;
      .mat-calendar-body-cell-content,
      &amp;:hover .mat-calendar-body-cell-content &#123;
        border: 1px solid #4caf50 !important;
      &#125;
    &#125;

    &amp;.my-blue &#123;
      .mat-calendar-body-cell-content,
      &amp;:hover .mat-calendar-body-cell-content &#123;
        border: 1px solid #2196f3 !important;
      &#125;
    &#125;

    /* Datepicker selected classes. */
    &amp;.selected:not(.mat-calendar-body-disabled) &#123;
      &amp;.my-red &#123;
        .mat-calendar-body-cell-content:not(.disabled),
        &amp;:hover .mat-calendar-body-cell-content:not(.disabled),
        &amp;:hover .mat-calendar-body-cell-content:not(.disabled):hover &#123;
          background-color: #f44336 !important;
        &#125;
      &#125;

      &amp;.my-green &#123;
        .mat-calendar-body-cell-content:not(.disabled),
        &amp;:hover .mat-calendar-body-cell-content:not(.disabled),
        &amp;:hover .mat-calendar-body-cell-content:not(.disabled):hover &#123;
          background-color: #4caf50 !important;
        &#125;
      &#125;

      &amp;.my-blue &#123;
        .mat-calendar-body-cell-content:not(.disabled),
        &amp;:hover .mat-calendar-body-cell-content:not(.disabled),
        &amp;:hover .mat-calendar-body-cell-content:not(.disabled):hover &#123;
          background-color: #2196f3 !important;
        &#125;
      &#125;
    &#125;
  &#125;

  /* Chip classes. */
  .mat-chip,
  .mat-mdc-chip &#123;
    &amp;.my-red &#123;
      background-color: #f44336 !important;
      color: #fff !important;
    &#125;

    &amp;.my-green &#123;
      background-color: #4caf50 !important;
      color: #fff !important;
    &#125;

    &amp;.my-blue &#123;
      background-color: #2196f3 !important;
      color: #fff !important;
    &#125;
  &#125;
&#125;
        </pre>
        <pre>{{ modelClasses | json }}</pre>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Reactive</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="full-width">
          <mat-label>Reactive</mat-label>
          <ngx-multiple-dates [matDatepicker]="pickerReactive" placeholder="Reactive"
                              [formControl]="reactiveControl">
          </ngx-multiple-dates>
          <mat-datepicker-toggle matPrefix [for]="pickerReactive"></mat-datepicker-toggle>
          <mat-datepicker #pickerReactive></mat-datepicker>
        </mat-form-field>
        <pre>{{ reactiveControl.value | json }}</pre>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Formatting</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="full-width">
          <mat-label>Format</mat-label>
          <ngx-multiple-dates [matDatepicker]="pickerFormat" placeholder="Format" format="shortDate"
                              name="modelFormat" [(ngModel)]="modelFormat">
          </ngx-multiple-dates>
          <mat-datepicker-toggle matPrefix [for]="pickerFormat"></mat-datepicker-toggle>
          <mat-datepicker #pickerFormat></mat-datepicker>
        </mat-form-field>
        <pre>{{ modelFormat | json }}</pre>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Calendar</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="full-width">
          <mat-label>Calendar</mat-label>
          <ngx-multiple-dates [matDatepicker]="pickerCalendar" placeholder="Calendar"
                              name="modelCalendar" [(ngModel)]="modelCalendar">
          </ngx-multiple-dates>
        </mat-form-field>
        <mat-calendar #pickerCalendar></mat-calendar>
        <pre>{{ modelCalendar | json }}</pre>
      </mat-card-content>
    </mat-card>
  </form>

  <form [formGroup]="reactiveForm">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Reactive Form</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="full-width">
          <mat-label>Reactive</mat-label>
          <ngx-multiple-dates [matDatepicker]="pickerReactiveForm" placeholder="Reactive"
                              [formControlName]="dynamicName"
                              #reactiveFormForValuesOutput="ngxMultipleDates"
                              [min]="min" [max]="max" [minlength]="2" [maxlength]="3" required>
          </ngx-multiple-dates>
          <mat-datepicker-toggle matPrefix [for]="pickerReactiveForm"></mat-datepicker-toggle>
          <mat-datepicker #pickerReactiveForm></mat-datepicker>
        </mat-form-field>
        <div><strong>Min:</strong> {{ min | date }}</div>
        <div><strong>Max:</strong> {{ max | date }}</div>
        <div><strong>Minlength:</strong> 2</div>
        <div><strong>Maxlength:</strong> 3</div>
        <div><strong>Required</strong></div>
        <pre>{{ reactiveFormForValuesOutput.value | json }}</pre>
      </mat-card-content>
    </mat-card>
  </form>
</div>
