:host {
  display: block;

  mat-toolbar {
    position: fixed;
    top: 0;
    z-index: 1;
  }

  mat-card {
    margin-bottom: 15px;

    pre {
      max-height: 161px;
      overflow-y: auto;
    }
  }

  .container {
    margin-top: 64px;
    padding: 15px;
  }

  .full-width {
    width: 100%;
  }
}
