<mat-toolbar color="primary" #mainToolbar>
  <span>Angular Multiple Dates Demo</span>
  <div class="fill"></div>
  <button mat-icon-button [mdePopoverTriggerFor]="themePopover" [mdePopoverTargetAt]="mainToolbar"
          mdePopoverTriggerOn="click">
    <mat-icon>format_color_fill</mat-icon>
  </button>
  <a mat-icon-button href="https://lekhmanrus.github.io/ngx-multiple-dates/">
    <mat-icon svgIcon="github"></mat-icon>
  </a>
</mat-toolbar>
<mde-popover #themePopover="mdePopover" [mdePopoverOverlapTrigger]="false"
             [mdePopoverCloseOnClick]="false" [mdePopoverOffsetX]="-19" [mdePopoverOffsetY]="-11" [mdePopoverArrowOffsetX]="19" mdePopoverArrowColor="#ffffff">
  <app-theme-picker [(theme)]="themeClass"></app-theme-picker>
</mde-popover>
<div class="container">
  <form>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Simple</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="full-width">
          <ngx-multiple-dates [matDatepicker]="pickerSimple" placeholder="Simple"
                              #forValuesOutput="ngxMultipleDates">
          </ngx-multiple-dates>
          <mat-datepicker #pickerSimple></mat-datepicker>
        </mat-form-field>
        <pre>{{ forValuesOutput.value | json }}</pre>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>ngModel</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="full-width">
          <ngx-multiple-dates [matDatepicker]="pickerModel" placeholder="Model" name="model"
                              [(ngModel)]="model">
          </ngx-multiple-dates>
          <mat-datepicker #pickerModel></mat-datepicker>
        </mat-form-field>
        <pre>{{ model | json }}</pre>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Datepicker Toggle Button</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="full-width">
          <ngx-multiple-dates [matDatepicker]="pickerWithToggleButton" placeholder="Model"
                              name="modelWithToggleButton" [(ngModel)]="modelWithToggleButton">
          </ngx-multiple-dates>
          <mat-datepicker-toggle matPrefix [for]="pickerWithToggleButton"></mat-datepicker-toggle>
          <mat-datepicker #pickerWithToggleButton></mat-datepicker>
        </mat-form-field>
        <pre>{{ modelWithToggleButton | json }}</pre>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Predefined model</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="full-width">
          <ngx-multiple-dates [matDatepicker]="pickerPredefined" placeholder="Predefined"
                              name="modelPredefined"
                              [(ngModel)]="modelPredefined">
          </ngx-multiple-dates>
          <mat-datepicker-toggle matPrefix [for]="pickerPredefined"></mat-datepicker-toggle>
          <mat-datepicker #pickerPredefined></mat-datepicker>
        </mat-form-field>
        <pre>{{ modelPredefined | json }}</pre>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Min/Max Values</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="full-width">
          <ngx-multiple-dates [matDatepicker]="pickerMinMax" placeholder="Min/Max"
                              name="modelMinMax" [min]="min" [max]="max"
                              [(ngModel)]="modelMinMax">
          </ngx-multiple-dates>
          <mat-datepicker-toggle matPrefix [for]="pickerMinMax"></mat-datepicker-toggle>
          <mat-datepicker #pickerMinMax></mat-datepicker>
        </mat-form-field>
        <div><strong>Min:</strong> {{ min | date }}</div>
        <div><strong>Max:</strong> {{ max | date }}</div>
        <pre>{{ modelMinMax | json }}</pre>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Minlength/Maxlength</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="full-width">
          <ngx-multiple-dates [matDatepicker]="pickerMinlengthMaxlength" placeholder="Minlength/Maxlength"
                              name="modelMinlengthMaxlength" [minlength]="2" [maxlength]="3"
                              [(ngModel)]="modelMinlengthMaxlength">
          </ngx-multiple-dates>
          <mat-datepicker-toggle matPrefix [for]="pickerMinlengthMaxlength"></mat-datepicker-toggle>
          <mat-datepicker #pickerMinlengthMaxlength></mat-datepicker>
        </mat-form-field>
        <div><strong>Minlength:</strong> 2</div>
        <div><strong>Maxlength:</strong> 3</div>
        <pre>{{ modelMinlengthMaxlength | json }}</pre>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Required</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="full-width">
          <ngx-multiple-dates [matDatepicker]="pickerRequired" placeholder="Required"
                              name="modelRequired" [(ngModel)]="modelRequired" required>
          </ngx-multiple-dates>
          <mat-datepicker-toggle matPrefix [for]="pickerRequired"></mat-datepicker-toggle>
          <mat-datepicker #pickerRequired></mat-datepicker>
        </mat-form-field>
        <pre>{{ modelRequired | json }}</pre>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Disabled</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="full-width">
          <ngx-multiple-dates [matDatepicker]="pickerDisabled" placeholder="Disabled"
                              #disabledForValuesOutput="ngxMultipleDates" disabled>
          </ngx-multiple-dates>
          <mat-datepicker-toggle matPrefix [for]="pickerDisabled"></mat-datepicker-toggle>
          <mat-datepicker #pickerDisabled></mat-datepicker>
        </mat-form-field>
        <pre>{{ disabledForValuesOutput.value | json }}</pre>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Color</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="full-width">
          <ngx-multiple-dates [matDatepicker]="pickerColor" placeholder="Color" color="accent"
                              name="modelColor" [(ngModel)]="modelColor">
          </ngx-multiple-dates>
          <mat-datepicker-toggle matPrefix [for]="pickerColor"></mat-datepicker-toggle>
          <mat-datepicker #pickerColor></mat-datepicker>
        </mat-form-field>
        <pre>{{ modelColor | json }}</pre>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Reactive</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="full-width">
          <ngx-multiple-dates [matDatepicker]="pickerReactive" placeholder="Reactive"
                              [formControl]="reactiveControl">
          </ngx-multiple-dates>
          <mat-datepicker-toggle matPrefix [for]="pickerReactive"></mat-datepicker-toggle>
          <mat-datepicker #pickerReactive></mat-datepicker>
        </mat-form-field>
        <pre>{{ reactiveControl.value | json }}</pre>
      </mat-card-content>
    </mat-card>
  </form>
</div>
