:host {
  background-color: var(--mat-app-background-color, var(--mat-app-background)) !important;
  color: var(--mat-app-text-color, var(--mat-app-on-background)) !important;
  display: block;

  mat-toolbar {
    position: fixed;
    top: 0;
    z-index: 3;
  }

  mat-card {
    margin-bottom: 15px;

    mat-calendar {
      width: 325px;
    }

    pre {
      max-height: 161px;
      overflow-y: auto;
    }
  }

  .container {
    margin-top: 64px;
    padding: 15px;
  }

  .full-width {
    width: 100%;
  }
}

::ng-deep {
  .mtx-popover-panel {
    background-color: var(--mat-app-background-color, var(--mat-app-background, transparent)) !important;
    color: var(--mat-app-text-color, var(--mat-app-on-background, inherit)) !important;
  }

  /* Datepicker classes. */
  .mat-calendar-body-cell {
    &.my-red {
      .mat-calendar-body-cell-content,
      &:hover .mat-calendar-body-cell-content {
        border: 1px solid #f44336 !important;
      }
    }

    &.my-green {
      .mat-calendar-body-cell-content,
      &:hover .mat-calendar-body-cell-content {
        border: 1px solid #4caf50 !important;
      }
    }

    &.my-blue {
      .mat-calendar-body-cell-content,
      &:hover .mat-calendar-body-cell-content {
        border: 1px solid #2196f3 !important;
      }
    }

    /* Datepicker selected classes. */
    &.selected:not(.mat-calendar-body-disabled) {
      &.my-red {
        .mat-calendar-body-cell-content:not(.disabled),
        &:hover .mat-calendar-body-cell-content:not(.disabled),
        &:hover .mat-calendar-body-cell-content:not(.disabled):hover {
          background-color: #f44336 !important;
        }
      }

      &.my-green {
        .mat-calendar-body-cell-content:not(.disabled),
        &:hover .mat-calendar-body-cell-content:not(.disabled),
        &:hover .mat-calendar-body-cell-content:not(.disabled):hover {
          background-color: #4caf50 !important;
        }
      }

      &.my-blue {
        .mat-calendar-body-cell-content:not(.disabled),
        &:hover .mat-calendar-body-cell-content:not(.disabled),
        &:hover .mat-calendar-body-cell-content:not(.disabled):hover {
          background-color: #2196f3 !important;
        }
      }
    }
  }

  /* Chip classes. */
  .mat-chip,
  .mat-mdc-chip {
    &.my-red {
      background-color: #f44336 !important;
      color: #fff !important;
    }

    &.my-green {
      background-color: #4caf50 !important;
      color: #fff !important;
    }

    &.my-blue {
      background-color: #2196f3 !important;
      color: #fff !important;
    }
  }
}
