@use '@angular/material' as mat;
@import '../lib/theming';

$primary: mat.define-palette(mat.$deep-purple-palette);
$accent:  mat.define-palette(mat.$amber-palette);
$theme: mat.define-light-theme($primary, $accent);
@include ngx-multiple-dates-theme($theme);
