@import '~@angular/material/theming';
@import '../lib/theming';

$primary: mat-palette($mat-deep-purple);
$accent:  mat-palette($mat-amber);
$theme: mat-light-theme($primary, $accent);
@include ngx-multiple-dates-theme($theme);
