@import '~@angular/material/theming';
@import '../lib/theming';

$primary: mat-palette($mat-pink);
$accent:  mat-palette($mat-blue-grey);
$theme: mat-light-theme($primary, $accent);
@include ngx-multiple-dates-theme($theme);
