@import '~@angular/material/theming';
@import '../lib/theming';

$primary: mat-palette($mat-purple);
$accent:  mat-palette($mat-green);
$theme: mat-light-theme($primary, $accent);
@include ngx-multiple-dates-theme($theme);
