@use '@angular/material' as mat;
@use '../lib/theming';

$primary: mat.define-palette(mat.$purple-palette);
$accent:  mat.define-palette(mat.$green-palette);
$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent
  )
));
@include theming.ngx-multiple-dates-theme($theme);
