@use '@angular/material' as mat;
@use '../lib/theming';

$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$rose-palette,
      tertiary: mat.$red-palette
    ),
    density: (
      scale: 0
    )
  )
);

@include theming.ngx-multiple-dates-theme($theme);
