@use '@angular/material' as mat;
@use '@ng-matero/extensions' as mtx;
@use 'ngx-multiple-dates' as ngxMultipleDates;

html,
body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  height: 100%;
  margin: 0;
}

@include mat.core;
$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 )
));

// Emit theme-dependent styles for common features used across multiple components.
@include mat.all-component-themes($my-theme);

.indigo-pink-theme {
  $primary: mat.define-palette(mat.$indigo-palette);
  $accent:  mat.define-palette(mat.$pink-palette);
  $theme: mat.define-light-theme((
    color: (
      primary: $primary,
      accent: $accent
    )
  ));
  @include mat.all-component-colors($theme);
  @include mtx.popover-theme($theme);
  @include ngxMultipleDates.multiple-dates-theme($theme);
}

.deeppurple-amber-theme {
  $primary: mat.define-palette(mat.$deep-purple-palette);
  $accent:  mat.define-palette(mat.$amber-palette);
  $theme: mat.define-light-theme((
    color: (
      primary: $primary,
      accent: $accent
    )
  ));
  @include mat.all-component-colors($theme);
  @include mtx.popover-theme($theme);
  @include ngxMultipleDates.multiple-dates-theme($theme);
}

.purple-green-theme {
  $primary: mat.define-palette(mat.$purple-palette);
  $accent:  mat.define-palette(mat.$green-palette);
  $theme: mat.define-light-theme((
    color: (
      primary: $primary,
      accent: $accent
    )
  ));
  @include mat.all-component-colors($theme);
  @include mtx.popover-theme($theme);
  @include ngxMultipleDates.multiple-dates-theme($theme);
}

.fill {
  flex: 1 1 auto;
}
