@charset 'utf-8';

@use '@angular/material' as mat;
@use '@ng-matero/extensions' as mtx;
@use 'ngx-multiple-dates' as ngxMultipleDates;

html,
body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  height: 100%;
  margin: 0;
}

@include mat.core;
@include mat.elevation-classes;
@include mat.app-background;

$my-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette
    ),
    density: (
      scale: 0
    )
  )
);

// Emit theme-dependent styles for common features used across multiple components.
:root {
  @include mat.all-component-themes($my-theme);
  @include mat.typography-hierarchy($my-theme);
  @include mtx.all-component-themes($my-theme);
}

.azure-blue-theme {
  $theme: mat.define-theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette
      ),
      density: (
        scale: 0
      )
    )
  );
  @include mat.all-component-colors($theme);
  @include mtx.all-component-colors($theme);
  @include ngxMultipleDates.multiple-dates-theme($theme);
}

.cyan-orange-theme {
  $theme: mat.define-theme(
    (
      color: (
        theme-type: dark,
        primary: mat.$cyan-palette,
        tertiary: mat.$orange-palette
      ),
      density: (
        scale: 0
      )
    )
  );
  @include mat.all-component-colors($theme);
  @include mtx.all-component-colors($theme);
  @include ngxMultipleDates.multiple-dates-theme($theme);
}

.magenta-violet-theme {
  $theme: mat.define-theme(
    (
      color: (
        theme-type: dark,
        primary: mat.$magenta-palette,
        tertiary: mat.$violet-palette
      ),
      density: (
        scale: 0
      )
    )
  );
  @include mat.all-component-colors($theme);
  @include mtx.all-component-colors($theme);
  @include ngxMultipleDates.multiple-dates-theme($theme);
}

.rose-red-theme {
  $theme: mat.define-theme(
    (
      color: (
        theme-type: light,
        primary: mat.$rose-palette,
        tertiary: mat.$red-palette
      ),
      density: (
        scale: 0
      )
    )
  );
  @include mat.all-component-colors($theme);
  @include mtx.all-component-colors($theme);
  @include ngxMultipleDates.multiple-dates-theme($theme);
}

.fill {
  flex: 1 1 auto;
}
