@charset 'utf-8';

@use '@angular/material' as mat;
@use '@ng-matero/extensions' as mtx;
@use 'ngx-multiple-dates' as ngxMultipleDates;

$my-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette
    ),
    typography: (
      plain-family: Roboto,
      brand-family: Helvetica Neue,
    )
  )
);

html {
  color-scheme: light dark;
  @include mat.theme($my-theme);
  @include mtx.all-component-themes($my-theme);
  @include ngxMultipleDates.multiple-dates-theme($my-theme);
}

html,
body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  height: 100%;
  margin: 0;
}

.azure-blue-theme {
  color-scheme: light;
  $theme: mat.define-theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette
      )
    )
  );
  @include mat.all-component-colors($theme);
  @include mtx.all-component-colors($theme);
  @include ngxMultipleDates.multiple-dates-theme($theme);
}

.cyan-orange-theme {
  color-scheme: dark;
  $theme: mat.define-theme(
    (
      color: (
        theme-type: dark,
        primary: mat.$cyan-palette,
        tertiary: mat.$orange-palette
      )
    )
  );
  @include mat.all-component-colors($theme);
  @include mtx.all-component-colors($theme);
  @include ngxMultipleDates.multiple-dates-theme($theme);
}

.magenta-violet-theme {
  color-scheme: dark;
  $theme: mat.define-theme(
    (
      color: (
        theme-type: dark,
        primary: mat.$magenta-palette,
        tertiary: mat.$violet-palette
      )
    )
  );
  @include mat.all-component-colors($theme);
  @include mtx.all-component-colors($theme);
  @include ngxMultipleDates.multiple-dates-theme($theme);
}

.rose-red-theme {
  color-scheme: light;
  $theme: mat.define-theme(
    (
      color: (
        theme-type: light,
        primary: mat.$rose-palette,
        tertiary: mat.$red-palette
      )
    )
  );
  @include mat.all-component-colors($theme);
  @include mtx.all-component-colors($theme);
  @include ngxMultipleDates.multiple-dates-theme($theme);
}

.fill {
  flex: 1 1 auto;
}
